version: 2.1

orbs:
  python: circleci/python@0.3.2

jobs:
  build:
    executor: python/default
    steps:
      - checkout
      - python/install-deps
      - run
        name: Run Service File
        command: python service.py

workflows:
  main:
    jobs:
      - build